<div class="en-daypicker-meta">
  <button class="en-daypicker-action en-daypicker-action-prev" onclick={{action attrs.previousMonth}}>
    &larr;
  </button>

  <caption class="en-daypicker-month-name">
    {{month.name}} {{year}}
  </caption>

  <button class="en-daypicker-action en-daypicker-action-next" onclick={{action attrs.nextMonth}}>
    &rarr;
  </button>
</div>

