* {
  box-sizing: border-box;
}

abbr {
  border-bottom: 1px dotted #ccc;
}

.en-day-picker-wrapper {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.en-day-picker-wrapper.is-disabled {
  opacity: .5;
  pointer-events: none
}

.en-day-picker {
  float: left;
  background: white;
  position: absolute;
  z-index: 999999999;
  left: 0;
  top: 32.5px;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px #F7F7F7;
}

.en-daypicker-meta {
  user-select: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.en-daypicker-input-wrapper {
  padding-right: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.en-daypicker-input-wrapper:hover {
  cursor: pointer;
  border-color: #4285F4
}

input[type="text"].en-daypicker-input {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 10px;
  line-height: 1.5;
}

input[type="text"].en-daypicker-input:hover {
  cursor: pointer;
}

.en-daypicker-week,
.en-daypicker-header {
  display: table-row;
}

.en-daypicker-header {
  border-right: 1px solid #e9ecf1;
  border-left: 1px solid #e9ecf1;
}

.en-daypicker-action {
  background: transparent;
  border: none;
  padding: .5em 1.5em;
}

.en-daypicker-action:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.en-daypicker-action:focus {
  outline: thin solid #4285F4;
}

.en-daypicker-action-prev {
  float: left;
  border-radius: 0;
  padding: .5em;
}

.en-daypicker-action-next {
  float: right;
  border-radius: 0;
  padding: .5em;
}

.en-daypicker-current-month {
  display: inline-block;
  text-align: center;
  padding: .65em 0;
  font-size: 14px;
  font-weight: 600;
}

.en-daypicker-meta-year,
.en-daypicker-meta-month {
  padding: 1px;
}

.en-daypicker-meta-year {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
}

.en-daypicker-month-wrapper {
  border-top: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.en-daypicker-month {
  display: table;
  padding: 6px;
}

.en-daypicker-day,
.en-daypicker-header-day {
  display: table-cell;
  padding: .75em .5em;
  text-align: center;
  vertical-align: middle;
}

.en-daypicker-header-day {
  font-size: 13px;
  font-weight: 500;
}

.en-daypicker-day {
  transition: background-color .25s ease-in-out;
  font-size: 13px;
  border: 1px solid #e9ecf1;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 1px;
}

.en-daypicker-day:hover {
  cursor: pointer;
  background: #e9ecf1;
  color: black;
}

.en-daypicker-day:active {
  background: #e9ecf1;
  color: #777;
}

.en-daypicker-day.is-disabled {
  opacity: .5;
  user-select: none;
  pointer-events: none;
}

.en-daypicker-day.is-disabled:hover {
  cursor: not-allowed;
}

.en-daypicker-day.is-today {
  background-color: white;
  color: #FF3B3B;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.en-daypicker-day.is-selected {
  background-color: #4285f4;
  color: #FFFFFF;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.en-daypicker-year-chooser {
  user-select: none;
  background: #f8f9fa;
  padding: 6px 12px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.en-daypicker-year-chooser h6 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 6px;
}

.en-daypicker-year-chooser-item {
  padding: 3px 6px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  color: #2b323d;
}

.en-daypicker-year-chooser-item:hover {
  cursor: pointer;
  background: #4285f4;
  color: #FFFFFF;
}
