* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.en-day-picker-wrapper {
  position: relative;
}

.en-day-picker {
  position: absolute;
  left: 0;
  top: 100%
}

.en-daypicker-week,
.en-daypicker-header {
  display: table-row-group;
}

.en-daypicker-day,
.en-daypicker-header-day {
  display: table-cell;
  padding: .5em;
  text-align: center;
}

.en-daypicker-day:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.en-daypicker-day.is-disabled {
  opacity: .5;
  user-select: none;
  pointer-events: none;
}

.en-daypicker-day.is-today {
  background-color: white;
  color: red;
  font-weight: 600;
}

.en-daypicker-day.is-selected {
  background-color: #0878EE;
  color: white
}
