body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont
}

header {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 100%;
  background-color: #e25e2c;
  color: white;
  min-height: 150px;
  text-align: center;
}

header > h1 {
  background-color: #dc521e;
  color: white;
}

.header-addendum {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 48%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0% 100%);
  height: 100px;
  width: 100%;
  background-color: #dc521e;
}

code {
  font-family: monospace;
  font-size: 1rem;
  padding: 2px 3px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.04);
}

.fr {
  float: right
}

nav a {
  color: #777;
  display: block;
  text-decoration: none;
  text-decoration-skip: ink;
  font-weight: 500;
  letter-spacing: .25px;
  padding: 12px;
  margin: 12px 0;
}

nav a:hover,
nav a.active {
  color: #dc521e;
  text-decoration: underline;
  font-weight: 600;
}

nav a:last-of-type {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black
}

.container {
  display: flex;
  width: 1080px;
  margin: 0 auto;
}

nav {
  flex: 1;
  max-width: 250px;
  padding: 105px 36px 0;
  text-align: right;
  border-right: 1px dashed #eee;
}

.content {
  flex: 3;
  padding: 0 36px;
}

.code,
code,
pre {
  font-family: Fira Code, Inconsolata, monospace;
}

.hljs {
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #f1efef;
  box-shadow: 0 0 15px 2px #f9f6f6;
}
