<div class="en-daypicker-component">
  {{en-daypicker-input
    minDate=minDate
    on-select=(action "onSelect")
    on-focus=(action "onFocus")
    format="MMM D, YYYY"
    placeholder="Meow"
    date=date}}

  <h6>{{date}}</h6>
</div>
